# Python Bytecode
*.pyc
*.pyo
__pycache__/

# Environment files
.env
*.env

# Streamlit config
.streamlit/secrets.toml

# System Files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
*.egg-info/

# Model Files
*.pkl
